@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap);
:root {
  --color-black: #000;
  --color-white: #fff;
  --bgc: #D2FD7E;
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@font-face {
  font-family: "PexelGrotesk";
  src: url("../fonts/../fonts/PxGroteskScreen.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTSquaresCondensed";
  src: url("../fonts/../fonts/TTSquaresCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTSquaresCondensed";
  src: url("../fonts/../fonts/TTSquaresCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "asd", sans-serif;
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.is-outer {
  position: relative !important;
  left: -9999px !important;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.for-mobile {
  display: none;
}
@media (max-width: 768px) {
  .for-mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

body {
  margin: 0;
  font-size: 16px;
  background-color: #000;
  color: #000;
}

html {
  line-height: 1.15;
}

.first-screen {
  background-color: var(--color-main);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1430' height='225' viewBox='0 0 1430 225' fill='none'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M15.36 9.92999V192H36.27V47.16H37.035L100.02 192H118.89L181.875 47.16H182.64V192H203.55V9.92999H177.54L109.965 165.225H109.2L41.37 9.92999H15.36ZM293.523 9.92999L221.868 192H244.308L263.688 141H347.328L366.708 192H389.403L317.748 9.92999H293.523ZM270.318 123.405L305.253 32.37H306.273L340.698 123.405H270.318ZM505.486 20.385H439.441V13.755H512.116V20.385H525.376V27.015H532.006V33.645H538.636V40.275H545.266V33.645H551.896V13.755H558.526V89.745H551.896V73.17H545.266V66.54H538.636V53.28H532.006V46.65H525.376V40.02H518.746V33.39H512.116V26.76H505.486V20.385ZM452.701 185.37H525.376V192H446.071V185.37H439.441V178.74H426.181V172.11H419.551V165.48H412.921V172.11H406.291V192H399.661V125.955H406.291V132.585H412.921V139.215H419.551V152.475H426.181V159.105H432.811V165.735H439.441V172.365H446.071V178.995H452.701V185.37ZM565.156 125.7V158.85H558.526V165.48H551.896V172.11H545.266V178.74H532.006V185.37H518.746V178.74H525.376V172.11H532.006V165.48H538.636V138.96H532.006V132.33H518.746V125.7H505.486V119.07H478.711V112.44H452.191V105.81H432.301V100.455H419.041V93.825H412.411V87.195H405.781V80.565H399.151V46.395H405.781V39.765H412.411V33.135H419.041V26.505H432.301V19.875H445.561V26.505H438.931V33.135H432.301V39.765H425.671V66.285H432.301V72.915H445.561V79.545H458.821V86.175H485.596V92.805H512.116V99.435H532.006V106.065H545.266V112.695H551.896V119.325H558.526V125.955L565.156 125.7ZM712.173 9.92999L614.253 104.535V9.92999H593.343V192H614.253V128.25L642.558 101.475L722.883 192H750.933L657.093 87.96L739.458 9.92999H712.173ZM867.068 20.385H801.023V13.755H873.698V20.385H886.958V27.015H893.588V33.645H900.218V40.275H906.848V33.645H913.478V13.755H920.108V89.745H913.478V73.17H906.848V66.54H900.218V53.28H893.588V46.65H886.958V40.02H880.328V33.39H873.698V26.76H867.068V20.385ZM814.283 185.37H886.958V192H807.653V185.37H801.023V178.74H787.763V172.11H781.133V165.48H774.503V172.11H767.873V192H761.243V125.955H767.873V132.585H774.503V139.215H781.133V152.475H787.763V159.105H794.393V165.735H801.023V172.365H807.653V178.995H814.283V185.37ZM926.738 125.7V158.85H920.108V165.48H913.478V172.11H906.848V178.74H893.588V185.37H880.328V178.74H886.958V172.11H893.588V165.48H900.218V138.96H893.588V132.33H880.328V125.7H867.068V119.07H840.293V112.44H813.773V105.81H793.883V100.455H780.623V93.825H773.993V87.195H767.363V80.565H760.733V46.395H767.363V39.765H773.993V33.135H780.623V26.505H793.883V19.875H807.143V26.505H800.513V33.135H793.883V39.765H787.253V66.285H793.883V72.915H807.143V79.545H820.403V86.175H847.178V92.805H873.698V99.435H893.588V106.065H906.848V112.695H913.478V119.325H920.108V125.955L926.738 125.7Z' fill='black'/%3E%3Cpath d='M959.36 9.92999V192H980.27V42.315H981.035L1084.57 192H1105.99V9.92999H1085.07V158.085H1084.31L981.29 9.92999H959.36ZM1142.64 9.92999V192H1163.55V107.34H1259.18V89.235H1163.55V28.035H1264.53V9.92999H1142.64ZM1275.79 9.92999V28.035H1340.05V192H1360.7V28.035H1424.96V9.92999H1275.79Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='11.36' y='9.92999' width='1417.6' height='190.07' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  border: none;
}
.first-screen__column {
  display: flex;
  flex-flow: column;
}
.first-screen__column:nth-child(1) {
  order: 1;
}
.first-screen__column:nth-child(2) {
  order: 2;
}
.first-screen__column:nth-child(3) {
  order: 3;
}
.first-screen__column:nth-child(4) {
  order: 4;
}
.first-screen__pagination {
  position: absolute;
  left: 20px;
  height: 300px;
  top: 50%;
  transform: translateY(-50%);
}
.first-screen__pagination img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.first-screen__movies {
  width: 500px;
  margin-right: 80px;
}
.first-screen__movies img {
  border-radius: 24px;
  display: block;
  width: 100%;
  max-width: 500px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.first-screen__info {
  max-width: 323px;
  width: 100%;
}
.first-screen__author {
  font-family: "TTSquaresCondensed", sans-serif;
  font-size: 0.875rem;
  line-height: 1;
  color: #000;
  opacity: 0.4;
  margin-bottom: 12px;
}
.first-screen__title {
  font-family: "PexelGrotesk", sans-serif;
  font-size: 2.375rem;
  line-height: 1;
  margin-bottom: 22px;
}
.first-screen__buttons {
  display: flex;
  flex-flow: row;
  margin-bottom: 30px;
}
.first-screen__btn-like {
  margin-right: 5px;
}
.first-screen__btn-like button {
  font-family: "TTSquaresCondensed", sans-serif;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-screen__btn-like button:hover {
  background-color: #fff;
}
.first-screen__btn-like button:hover svg path {
  fill: red;
  opacity: 1;
}
.first-screen__btn-like button span {
  font-size: 0.75rem;
  color: #000;
  line-height: 1;
  margin-left: 6px;
}
.first-screen__more-info button {
  font-family: "TTSquaresCondensed", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 0 15px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-screen__more-info button:hover {
  background-color: #000;
  color: #fff;
}
.first-screen__more-info button:hover svg path {
  fill: #fff;
}
.first-screen__more-info button span {
  margin-right: 10px;
  font-size: 0.625rem;
}
.first-screen__place {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;
}
.first-screen__place button {
  background-color: #000;
  border-radius: 22px;
  font-family: "PexelGrotesk", sans-serif;
  font-size: 0.75rem;
  width: 100%;
  height: 44px;
  color: #fff;
  text-align: center;
  padding: 0;
  font-weight: 400;
}
.first-screen__place button:hover {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}
.first-screen__bid {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.first-screen__price-bid {
  font-family: "TTSquaresCondensed", sans-serif;
  display: flex;
  flex-flow: column;
  flex: 1 0 0;
  position: relative;
}
.first-screen__price-bid:after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(100% + 40px);
  width: 1px;
  height: 100%;
  background-color: #b4d96c;
}
.first-screen__name-bid {
  font-size: 0.75rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}
.first-screen__eth-bid {
  font-size: 1rem;
  color: #000;
  line-height: 1;
  margin-bottom: 6px;
}
.first-screen__dollar-bid {
  font-size: 0.625rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.4);
}
.first-screen__timer {
  font-family: "TTSquaresCondensed", sans-serif;
  margin-left: 70px;
}
.first-screen__timer span {
  display: flex;
  flex-flow: row;
}
.first-screen__timer span ul {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 0 0;
  position: relative;
}
.first-screen__timer span ul:nth-child(1) {
  padding-right: 17px;
}
.first-screen__timer span ul:nth-child(1):after {
  position: absolute;
  content: ":";
  right: 0;
  top: 0;
}
.first-screen__timer span ul:nth-child(2) {
  padding: 0 17px;
}
.first-screen__timer span ul:nth-child(2):after {
  position: absolute;
  content: ":";
  right: 0;
  top: 0;
}
.first-screen__timer span ul:nth-child(3) {
  padding-left: 17px;
}
.first-screen__timer span ul li {
  font-size: 1rem;
  line-height: 1;
}
.first-screen__timer span ul li:first-child {
  margin-bottom: 6px;
}
.first-screen__timer span ul li:last-child {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.625rem;
  line-height: 1;
}
.first-screen__shift {
  position: absolute;
  left: 10px;
  bottom: 1px;
  background-color: #000;
  border-radius: 20px;
}
.first-screen__shift button {
  height: 40px;
  padding: 0 21px;
  text-align: center;
}
.first-screen__shift button:hover {
  color: var(--color-main);
  background-color: #000;
}
.first-screen__action {
  position: absolute;
  right: 10px;
  bottom: 15px;
}
.first-screen__action .btn-clear:hover {
  background-color: #000;
  color: #fff;
}
.first-screen__action button {
  height: 40px;
  padding: 0 24px;
  border: 1px solid #000;
  border-radius: 20px;
  margin: 0 5px;
}
.first-screen__action button:hover {
  background-color: transparent;
  color: #000;
}

.swiper {
  height: 745px;
}

.swiper-slide {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: #000;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 20px;
  transition: linear 0.2s;
}

.btn-active {
  background-color: var(--color-main);
  color: #000;
  border-radius: 20px;
  border: 2px solid #000;
}
.btn-active:active {
  background-color: var(--color-main);
}

.btn-clear {
  color: #000;
  background-color: transparent;
}

.gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  transform: scale(1);
}

.gallery-thumbs .swiper-slide {
  transform: scale(0.8);
  transition: linear 0.3s;
  cursor: pointer;
  position: relative;
}

.swiper-slide-thumb-active .wrap {
  width: 90px;
  height: 90px;
  overflow: hidden;
  position: relative;
}
.swiper-slide-thumb-active .wrap .progress {
  display: block;
}

.progress {
  display: none;
}

.swiper-slide-thumb-active .progress {
  transform: rotate(50deg);
  width: 90px;
  height: 90px;
}

.swiper-slide-thumb-active .progress__meter,
.swiper-slide-thumb-active .progress__value {
  fill: none;
}

.swiper-slide-thumb-active .progress__value {
  /* stroke: blue; */
  stroke-linecap: round;
  stroke-dasharray: 339px;
  stroke-dashoffset: 339px;
  -webkit-animation: circle-default 5s forwards;
  animation: circle-default 5s forwards;
}

@-webkit-keyframes circle-default {
  0% {
    stroke-dashoffset: 339px;
  }
  100% {
    stroke-dashoffset: 40px;
  }
}

@keyframes circle-default {
  0% {
    stroke-dashoffset: 339px;
  }
  100% {
    stroke-dashoffset: 40px;
  }
}
@media (max-width: 1024px) {
  .first-screen {
    background-image: url("../img/svg/logo-mobile.svg");
    background-size: calc(100vw - 75%);
    background-position: 10px 10px;
    height: 100%;
    margin: 0 5px;
    width: auto;
  }
  .first-screen__column {
    display: flex;
    flex-flow: column;
  }
  .first-screen__column:nth-child(1) {
    order: 3;
  }
  .first-screen__column:nth-child(2) {
    order: 2;
    position: relative;
  }
  .first-screen__column:nth-child(3) {
    order: 1;
  }
  .first-screen__column:nth-child(4) {
    order: 4;
  }
  .first-screen__shift {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    display: flex;
  }
  .first-screen__plus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .first-screen__plus::after {
    content: url(../img/plus.svg);
    color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    height: 15px;
  }
  .first-screen__movies {
    max-width: 325px;
    width: 100%;
    height: 450px;
    margin: 0 0 25px;
  }
  .first-screen__pagination {
    position: absolute;
    height: 90px;
    left: 0;
    transform: translateX(0);
    top: 550px;
    z-index: 99;
    max-width: 325px;
  }
  .first-screen__pagination .swiper-slide {
    width: 90px !important;
  }
  .first-screen__pagination .swiper-wrapper {
    transform: translate3d(0px, 0px, 0px) !important;
  }
  .first-screen__slider {
    display: grid;
    margin: 0 20px;
  }
  .first-screen__slider .swiper {
    max-width: 325px;
    width: 100%;
    height: auto;
    margin-top: 70px;
  }
  .first-screen__info {
    margin-top: 120px;
    margin-bottom: 19px;
  }
  .first-screen__action {
    display: none;
  }
  .first-screen .swiper-slide {
    flex-flow: column;
  }
}
@media (max-width: 768px) {
  .first-screen {
    background-size: auto;
    background-position: 10px 23px;
  }
}
/*# sourceMappingURL=global.css.map */
