<section class="banners">
    <div class="container">
        <div class="banners__row">
            <div class="row">
                <div class="col-12">
                    <div class="banner__show">
                        <img src="/img/banner.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-40">
                <div class="col-9">
                    <div class="banners__video">
                        <video height="478" controls="controls"
                            poster="/img/video__prew.jpg">
                            <source src="video/duel.ogv" type='video/ogg;
                                codecs="theora, vorbis" '>
                            <source src="video/duel.mp4" type='video/mp4;
                                codecs="avc1.42E01E, mp4a.40.2" '>
                            <source src="video/duel.webm" type='video/webm;
                                codecs="vp8, vorbis" '>
                            Тег video не поддерживается вашим браузером.
                            <a href="video/duel.mp4">Скачайте видео</a>.
                        </video>
                    </div>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-2">
                    <div class="banners__line"></div>
                </div>
                <div class="col-7">
                    <div class="banners__text">
                        Unser professionelles Team aus der Region Stuttgart
                        liefert maßgeschneiderte Softwarelösungen für die
                        effiziente Integration aller Anwendungen.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>