<section class="career">
    <div class="container">
        <div class="career__row">
            <div class="row">
                <div class="col-md-6">
                    <div class="career__title">Karriere bei Ohrner IT</div>
                    <div class="career__subtitle">Dein
                        Softwareentwicklungs - Dienstleister mit Potenzial</div>
                    <div class="career__text">
                        Die Ohrner IT ist dein Unternehmen mit vielfältigen
                        Entwicklungs- und Weiterbildungsmöglichkeiten. Als
                        Arbeitgeber bieten wir zahlreiche Benefits:
                    </div>
                    <div class="career__list">
                        <ul>
                            <li>Work-Life-Balance</li>
                            <li>Zentrale Lage</li>
                            <li>Gesundheitsleistungen</li>
                            <li>Versorgung</li>
                            <li>Altersvorsorge</li>
                        </ul>
                    </div>
                    <div class="career__text">
                        Als Teil unseres Teams profitierst du zudem von der Arbeit
                        mit motivierten, offenen Kollegen und einer familiären
                        Atmosphäre. Wir sorgen für die stetige Weiterentwicklung
                        unseres Teams – fachlich und persönlich.
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/img/career__img.png" alt="">
                    <div class="career__button">
                        <a class="btn btn-primary" href="#" role="button">Karriere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>