<footer class="footer">
  <div class="footer__row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container align-items-center footer__h">
        <a class="navbar-brand" href="#">
          <img src="/img/logo.svg" alt="" width="291" height="27">
        </a>
        <div class="navbar-collapse--footer">
          <ul class="navbar-nav ms-auto mb-lg-0 mt-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Leistungen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Über uns</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Karriere</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
          </ul>
          <a href="">
            <button class="footer__btn">Kontakt</button>
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-2">
          <div class="footer__social"> 
            <i class="social__icon social__icon--1"></i>
            <i class="social__icon social__icon--2"></i>
            <div class="footer__social--flex">
              <i class="social__icon social__icon--3"></i>
              <span>soon</span>
            </div>
            
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-4">
          <div class="footer__copyright">© 2021 Ohrner IT. Alle Rechte vorbehalten.</div>
        </div>
        <div class="col-4">
          <div class="footer__policy">
            <a href="">Datenschutz</a>
            <a href="">Impressum</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
