<header class="header">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light header__color">
    <div class="container align-items-center header__h">
      <a class="navbar-brand" href="#">
        <img src="/img/logo.svg" alt="" width="291" height="27">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-lg-0 mt-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Leistungen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team">Über uns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Karriere</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
        </ul>
        <a href="">
          <button class="header__btn">Kontakt</button>
        </a>
      </div>
    </div>
  </nav>
  <div id="home" class="header__main">
    <div class="container">
      <div class="header__title">Individuelle Software - entwicklung mit Ohrner IT</div>
      <div class="header__subtitle">Softwareentwicklung konsequent effizient</div>
      <div class="header__button">
        <a class="btn btn-primary" href="#" role="button">
          Unsere Leistungen
        </a>
      </div>
    </div>
  </div>
</header>
