<div class="first-screen__pagination gallery-thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="wrap">
          <svg class="progress" width="120" height="120"  viewBox="0 0 120 120">
            <defs>
              <linearGradient id="linearColors" x1="1" y1="1" x2="0" y2="1">
                <stop offset="5%" stop-color="#0000"/>
                <stop offset="30%" stop-color="#000"></stop>
                <stop offset="100%" stop-color="#000"></stop>
              </linearGradient>
            </defs>
            <circle class="progress__meter" cx="60" cy="60" r="54" stroke-width="1" />
            <circle class="progress__value" cx="60" cy="60" r="54" stroke-width="1" stroke="url(#linearColors)" />
          </svg>
          <img src="img/svg/pagi-2.svg" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="wrap">
          <svg class="progress" width="120" height="120"  viewBox="0 0 120 120">
            <defs>
              <linearGradient id="linearColors" x1="1" y1="1" x2="0" y2="1">
                <stop offset="5%" stop-color="#0000"/>
                <stop offset="30%" stop-color="#000"></stop>
                <stop offset="100%" stop-color="#000"></stop>
              </linearGradient>
            </defs>
            <circle class="progress__meter" cx="60" cy="60" r="54" stroke-width="1" />
            <circle class="progress__value" cx="60" cy="60" r="54" stroke-width="1" stroke="url(#linearColors)" />
          </svg>
          <img src="img/svg/pagi-1.svg" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="wrap">
          <svg class="progress" width="120" height="120"  viewBox="0 0 120 120">
            <defs>
              <linearGradient id="linearColors" x1="1" y1="1" x2="0" y2="1">
                <stop offset="5%" stop-color="#0000"/>
                <stop offset="30%" stop-color="#000"></stop>
                <stop offset="100%" stop-color="#000"></stop>
              </linearGradient>
            </defs>
            <circle class="progress__meter" cx="60" cy="60" r="54" stroke-width="1" />
            <circle class="progress__value" cx="60" cy="60" r="54" stroke-width="1" stroke="url(#linearColors)" />
          </svg>
          <img src="img/svg/pagi-3.svg" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="wrap">
          <svg class="progress" width="120" height="120"  viewBox="0 0 120 120">
            <defs>
              <linearGradient id="linearColors" x1="1" y1="1" x2="0" y2="1">
                <stop offset="5%" stop-color="#0000"/>
                <stop offset="30%" stop-color="#000"></stop>
                <stop offset="100%" stop-color="#000"></stop>
              </linearGradient>
            </defs>
            <circle class="progress__meter" cx="60" cy="60" r="54" stroke-width="1" />
            <circle class="progress__value" cx="60" cy="60" r="54" stroke-width="1" stroke="url(#linearColors)" />
          </svg>
          <img src="img/svg/pagi-4.svg" alt="">
        </div>
      </div>
    </div>
  </div>