<section id="team" class="team">
    <div class="team__row">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                    <div class="team__title">Ihr persönlicher Ansprechpartner
                        für
                        individuelle Software-
                        entwicklung</div>
                    <div class="team__subtitle">
                        Konsequente Effizienz seit über 15 Jahren mit Ihrem
                        zuverlässigen Softwareentwicklungs-Dienstleister
                    </div>
                    <div class="team__text">
                        Seit jeher sind wir ganz nah am Kunden und legen hohen
                        Wert
                        auf dessen Wünsche. Als IT-Softwareentwickler mit einer
                        außergewöhnlichen Serviceorientierung stehen wir für
                        einzigartige Software 100% made in Germany.
                    </div>
                    <div class="team__link">
                        <a href="">
                            <i class="team__icon"></i>
                            <span>Über uns</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 offset-md-0 order-1 order-md-2">
                    <img src="/img/team.png" class="img-fluid" alt="...">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-0 team__img">
                    <img src="/img/team__2.png" class="img-fluid" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="team__title">
                        Unsere Leistungen für Ihre individuelle
                        Softwareentwicklung
                    </div>
                    <div class="team__subtitle">
                        Ihr kompetenter Softwareentwicklungs-Dienstleister [KW1]
                        aus der Region Stuttgart
                    </div>
                    <div class="team__text">
                        Als Dienstleister für individuelle Softwareentwicklung
                        bieten wir Ihnen vielfältige Leistungen:
                    </div>
                    <div class="team__list">
                        <ul>
                            <li>
                                Installation und Konfiguration erforderlicher
                                Systeme und Software
                            </li>
                            <li>
                                Programmierung zusätzlicher Funktionalität und
                                Plugins
                            </li>
                            <li>
                                Anpassung vorhandener Softwareprogrammierung
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="team__desc">
                <p>
                    Mit unserem qualifizierten und spezialisierten Team aus
                    IT-Softwareentwicklern sind wir in der Lage, auf Ihre
                    individuellen Anforderungen und Wünsche einzugehen und
                    diese
                    bei der Umsetzung und Implementierung zu berücksichtigen.
                    Auch
                    Anpassungen sowie Wartungen nehmen wir zuverlässig und
                    professionell vor. Wir sorgen dafür, dass Ihre Systeme stets
                    auf
                    dem neuesten Stand sind und arbeiten mit verschiedenen
                    Technologien – von Java, über Python bis hin zu MySQL.
                </p>
            </div>
            <div class="team__button">
                <a class="btn btn-primary" href="#" role="button">Unsere Leistungen</a>
            </div>
        </div>
    </div>
</section>