// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --bgc: #D2FD7E;
}
:root {
  --color-first          : #65587f;
  --color-second         : #f18867;
  --color-third          : #e85f99;
  --color-forth          : #50bda1;
  --block-width          :   90px;
  --block-height         :   90px;
  --border-width         : .625rem;
  --border-radius-outer  :     50%;
  --border-radius-inner  : calc(var(--border-radius-outer) / 2);
  --font-plain           : 'IBM Plex Sans', sans-serif;
  --font-special         : 'Fredoka One', sans-serif;
 
  box-sizing: border-box;
  line-height: 1.4
}