@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

@include tablet-max {
    .contacts {
        &__data {
            span {
                font-size: 18px;
            }
        }
        &__caption {
            span {
                font-size: 18px;
                max-width: 219px;
            }
        }
        &__name {
            font-size: 26px;
        }
        &__subname {
            font-size: 18px;
        }
    }
    .banners {
        &__video {
            video {
                height: 100%;
            }
        }
    }
}

@include tablet {
    .header {
        &__h {
            height: auto;
        }
        .nav-item {
            text-align: center;
            border-top: 1px solid #f2f2f2;
            padding: 6px 0;
            &:last-child {
                border-bottom: 1px solid #f2f2f2;
            }
        }
        .nav-link.active {
            &::after {
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &__btn {
            display: block;
            margin: 15px auto 5px;
        }
    }
    .footer {
        .nav-item {
            text-align: center;
            border-top: 1px solid #f2f2f2;
            padding: 6px 0;
            &:last-child {
                border-bottom: 1px solid #f2f2f2;
            }
        }
        .nav-link.active {
            &::after {
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &__btn {
            display: block;
            margin: 15px auto 5px;
        }
        .navbar-brand {
            width: 100%;
            img {
                display: block;
                margin: auto auto 20px;
            }
        }
    }
    .team {
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__text {
            font-size: 18px;
        }
        &__list {
            ul {
                li {
                    font-size: 18px;
                }
            }
        }
        &__desc {
            p {
                font-size: 18px;
            }
        }
        &__button {
            .btn {
                font-size: 20px;
            }
        }
    }
    .career {
        &__button {
            text-align: center;
        }
    }
    .pl-70 {
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
        padding-top: 25px;
    }
}

@include mobile {
    .team {
        &__img {
            img {
                position: static;
            }
        }
    }
}
